@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrace";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    @if (Model.SameEmail)
    {
        <div class="alert alert-danger" role="alert">
            Heslo bylo již použito. Pokud máte již založený účet, přihlaste se a změňte si informace, nebo pro registraci použijte jiný email.
        </div>
    }
    <div class="col-md-12">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <h2>Vytvořit nový účet</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-11">
                        <h5>Osobní údaje</h5>
                        <div class="row">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" placeholder="Jiří" aria-required="true" />
                        </div>
                        <br />
                        <div class="row">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" placeholder="Novák" aria-required="true" />
                        </div>
                        <br />
                        <div class="row">
                            <label asp-for="Input.BirthDate"></label>
                            <input asp-for="Input.BirthDate" type="date" class="form-control" aria-required="true" />
                        </div>
                        <br />
                        <div class="row">
                            <label asp-for="Input.Gender"></label>
                            <div class="form-check form-check-inline">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" asp-for="Input.Gender" value="@Gender.Male">
                                    <label class="form-check-label" asp-for="Input.Gender">Muž</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" asp-for="Input.Gender" type="radio" value="@Gender.Female">
                                    <label class="form-check-label" asp-for="Input.Gender">Žena</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="col-md-11">
                        <h5>Škola, kterou navštěvuji</h5>
                        <div class="row">
                            <label asp-for="Input.School"></label>
                            <input asp-for="Input.School" class="form-control" placeholder="ZŠ Vrchlického, Libere" />
                        </div>
                        <br />
                        <div class="row">
                            <label asp-for="Input.Year"></label>
                            <select class="form-select" asp-for="Input.Year" aria-required="true">
                                <option value="@Year.none">Nevybráno</option>
                                <option value="@Year.Class7">7. třída a nužší</option>
                                <option value="@Year.Class8">8. třída</option>
                                <option value="@Year.Class9">9. třída</option>
                                <option value="@Year.Class10">Vyšší ročník (SŠ)</option>
                            </select>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" asp-for="Input.PotentionStudent">
                                <label class="form-check-label" asp-for="Input.PotentionStudent"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <h5>Přihlašovací údaje</h5>
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="row">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="row">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="row justify-content-md-center">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" asp-for="Input.BeInformed"></label>
                                    <input class="form-check-input" type="checkbox" asp-for="Input.BeInformed" id="flexCheckDefault">
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="col-md-11">
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrovat</button>
                    </div>
                    <div class="col-md-1">

                    </div>
                    
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
